# Imports

In [1]:
!pip install vl-convert-python

Requirement already satisfied: vl-convert-python in /opt/anaconda3/lib/python3.12/site-packages (1.7.0)

In [2]:
import sys
!{sys.executable} -m pip install vl-convert-python

Requirement already satisfied: vl-convert-python in /Users/addivuppala/anaconda3/lib/python3.11/site-packages (1.7.0)

In [3]:
try:
    import vl_convert
    print("vl-convert-python is installed and importable.")
except ImportError:
    print("vl-convert-python is NOT installed or not found in the current environment.")

vl-convert-python is installed and importable.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Read in the data

In [5]:
weighted_sentiment = pd.read_csv("Weighted_Sentiment.csv")
weighted_sentiment

,state_code,time_stamp,type,weighted_sentiment,bert_label,year,month
0,NJ,2025-04-03 14:29:00,neg,-0.200000,-1,2025,4
1,TX,2025-04-03 00:07:00,neg,-80.000000,-1,2025,4
2,TX,2025-04-02 21:06:00,pos,46.000000,1,2025,4
3,VA,2025-04-02 20:57:00,neg,-12.000000,-1,2025,4
4,WI,2025-04-02 20:55:00,neutral,0.000000,0,2025,4
...,...,...,...,...,...,...,...
6223,TX,2025-03-31 11:01:00,neutral,0.000000,0,2025,3
6224,VA,2025-03-31 13:58:00,pos,296.000000,1,2025,3
6225,WI,2025-03-31 14:51:00,neutral,0.000000,0,2025,3
6226,ME,2025-03-31 15:27:00,pos,0.108696,1,2025,3
6227,WI,2025-03-31 15:50:00,neg,-30.000000,-1,2025,3

I added a cvs file called “weighted_sentiment” If one of you guys could make some plots for the sum weight sentiment of each state for 2023-2025 that would be great 
A plot for each year I mean

In [6]:
states = weighted_sentiment["state_code"].unique()
states

array(['NJ', 'TX', 'VA', 'WI', 'IN', 'NY', 'OH', 'OK', 'WA', 'CT', 'IA',
       'ND', 'PA', 'CA', 'CO', 'KS', 'KY', 'MA', 'MI', 'NC', 'OR', 'FL',
       'IL', 'NM', 'GA', 'AZ', 'NV', 'LA', 'NH', 'AL', 'NE', 'ID', 'MD',
       'HI', 'MN', 'AR', 'MT', 'AK', 'MO', 'SC', 'SD', 'TN', 'UT', 'VT',
       'WV', 'WY', 'DE', 'ME', 'MS', 'RI'], dtype=object)

In [7]:
import altair as alt

# Filter data for years 2023, 2024, and 2025
df_filtered = weighted_sentiment[weighted_sentiment['year'].isin([2023, 2024, 2025])].copy()

# Group by 'year' and 'state' and calculate the sum of 'weighted_sentimentbert_label'
df_agg = df_filtered.groupby(['year', 'state_code'])['weighted_sentiment'].sum().reset_index()

# Create the chart for each year
for year in df_agg['year'].unique():
    chart_data = df_agg[df_agg['year'] == year]
    chart = alt.Chart(chart_data).mark_bar().encode(
        x = alt.X('state_code', title='State'),
        y = alt.Y('weighted_sentiment', title='Total Weighted Sentiment'),
        tooltip = ['state_code', 'weighted_sentiment']).properties(
        title = f'Total Weighted Sentiment per State in {year}').interactive()

    # Save the chart as a PNG file
    chart.save(f'sentiment_per_state_{year}.png')

print("PNG images of the sentiment plots for each year have been saved.")

PNG images of the sentiment plots for each year have been saved.

In [8]:
df_agg

     year state_code  weighted_sentiment
0    2023         AK          190.428571
1    2023         AL            2.164069
2    2023         AR          103.000000
3    2023         AZ        -1930.440095
4    2023         CA        13032.227948
..    ...        ...                 ...
141  2025         VT       -10241.997085
142  2025         WA        22633.653667
143  2025         WI         3130.908753
144  2025         WV          132.746032
145  2025         WY            0.000000

[146 rows x 3 columns]